.env
/.tox/
*.pyc
*#
*~
*.swp
#*
local_settings.py
local_test_settings.py
slackbot_settings.py
slackbot_test_settings.py
/build
/dist
/*.egg-info
.cache
/.vscode/

# you should add this to your code with the appropriate tokens inside
slackbot/authentication.py

# don't track the ipynb checkpoints
.ipynb_checkpoints/
